@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #1e1e21;
  --white: #f2f2f2;
  --clr-nav: rgb(37, 37, 45);
}

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--black);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
